<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Barber Shop</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
            integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
            crossorigin="anonymous"
    />
</head>

<body>
    <div class="ui top fixed menu">
        <a class="item">
            <i class="home icon">Home</i>
        </a>
        <a class="item">
            <i class="save outline icon">Add New</i>
        </a>
    </div>
    <div class="ui container">
        <div class="ui divided items" th:each="cryptoProject : ${cryptoProjectList}">
            <div class="item">
                <div class="image">
                    <img src="/images/image.png">
                </div>
                <div class="content">
                    <a class="header" th:text="${cryptoProject.name}"></a>
                    <div class="meta">
                        <span th:text="${cryptoProject.symbol}"> </span>
                    </div>
                    <div class="description">
                        <span th:text="${cryptoProject.description}"> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:fragment="footer">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
                integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </footer>
</body>
</html>