<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="index :: head"></head>
<body>
    <div class="ui container">
    <div class="ui items">
        <div class="item">
            <a class="ui small image">
                <img>
            </a>
            <div class="middle aligned content">
            <div class="content">
                <a class="header" th:text="${cryptoProject.name}"></a>
                <div class="meta">
                    <span th:text="${cryptoProject.symbol}"></span>
                </div>
                <div class="description">
                    <p th:text="${cryptoProject.description}"></p>
                </div>
                <div class="extra">
                    <div class="ui right floated button">
                        <a href="/add-crypto-project">Add another project</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div th:replace="index :: footer"></div>
</body>
</html>